In [1]:
%load_ext google.cloud.bigquery

In [3]:
%%bigquery
SELECT h.page.pagePath, count(h.page.pagePath) as cnt
FROM `bigquery-public-data.google_analytics_sample.ga_sessions_2016*`, unnest(hits) as h 
group by h.page.pagePath order by cnt desc limit 10;

C:\Users\emaxkra\AppData\Roaming\Python\Python39\site-packages\google\cloud\bigquery\job\query.py:1647: UserWarning: A progress bar was requested, but there was an error loading the tqdm library. Please install tqdm to use the progress bar functionality.
  query_result = wait_for_query(self, progress_bar_type, max_results=max_results)
C:\Users\emaxkra\AppData\Roaming\Python\Python39\site-packages\google\cloud\bigquery\table.py:1980: UserWarning: A progress bar was requested, but there was an error loading the tqdm library. Please install tqdm to use the progress bar functionality.
  record_batch = self.to_arrow(

                                          pagePath     cnt
0                                            /home  589386
1                                     /basket.html  112553
2  /google+redesign/apparel/men++s/men++s+t+shirts   79877
3                                      /store.html   74021
4           /google+redesign/shop+by+brand/youtube   55222
5                          /google+redesign/office   49435
6                       /google+redesign/drinkware   48876
7                                     /signin.html   47890
8                            /google+redesign/bags   47308
9                     /google+redesign/electronics   46931

In [5]:
%%bigquery
show schema bigquery-public-data.google_analytics_sample.ga_sessions;

Executing query with job ID: c64b1963-54b3-4ec3-8915-dad5d0fe3380
Query executing: 1.12s

ERROR:
 400 Syntax error: Expected end of input but got identifier "bigquery" at [1:13]

Location: US
Job ID: c64b1963-54b3-4ec3-8915-dad5d0fe3380