# Задание

1. [Задание 1](#excercise_1)
2. [Задание 2](#excercise_2)
3. [Задание 3](#excercise_3)

<a id="excercise_1"></a>
1. Выберите 15 стран с наибольшим процентом переболевших на 31 марта (в выходящем датасете необходимы колонки: iso_code, страна, процент переболевших)

pyspark
df = spark.read.load("/opt/bitnami/spark/owid-covid-data.csv",format="csv", inferSchema="true", header="true")
table = df.createOrReplaceTempView("table")
sqlDF = spark.sql("SELECT iso_code,location,CAST(100*(total_cases/population) as decimal(10,2)) as cases_population_ratio FROM table WHERE date = '2021-03-31' AND iso_code NOT IN ('OWID_WRL','OWID_EUR','OWID_NAM','OWID_ASI','OWID_EUN','OWID_SAM','OWID_AFR') ORDER BY cases_population_ratio DESC")
sqlDF.show(15)

>>> sqlDF = spark.sql("SELECT iso_code,location,CAST(100*(total_cases/population) as decimal(10,2)) as cases_population_ratio FROM table WHERE date = '2021-03-31' AND iso_code NOT IN ('OWID_WRL','OWID_EUR','OWID_NAM','OWID_ASI','OWID_EUN','OWID_SAM','OWID_AFR') ORDER BY cases_population_ratio DESC")
>>> sqlDF.show(15)
+--------+-------------+----------------------+
|iso_code|     location|cases_population_ratio|
+--------+-------------+----------------------+
|     AND|      Andorra|                 15.54|
|     MNE|   Montenegro|                 14.52|
|     CZE|      Czechia|                 14.31|
|     SMR|   San Marino|                 13.94|
|     SVN|     Slovenia|                 10.37|
|     LUX|   Luxembourg|                  9.85|
|     ISR|       Israel|                  9.63|
|     USA|United States|                  9.20|
|     SRB|       Serbia|                  8.83|
|     BHR|      Bahrain|                  8.49|
|     PAN|       Panama|                  8.23|
|     PRT|     Portugal|                  8.06|
|     EST|      Estonia|                  8.02|
|     SWE|       Sweden|                  7.97|
|     LTU|    Lithuania|                  7.94|
+--------+-------------+----------------------+
only showing top 15 rows

<a id="excercise_2"></a>
2. Top 10 стран с максимальным зафиксированным кол-вом новых случаев за последнюю неделю марта 2021 в отсортированном порядке по убыванию
(в выходящем датасете необходимы колонки: число, страна, кол-во новых случаев)

sqlDF_2 = spark.sql("SELECT date,iso_code, new_cases  FROM table WHERE date > '2021-03-27' AND date < '2021-04-04' AND iso_code NOT IN ('OWID_WRL','OWID_EUR','OWID_NAM','OWID_ASI','OWID_EUN','OWID_SAM','OWID_AFR') ORDER BY new_cases DESC")
sqlDF_2.show(10)

>>> sqlDF_2 = spark.sql("SELECT date,iso_code, new_cases  FROM table WHERE date > '2021-03-27' AND date < '2021-04-04' AND iso_code NOT IN ('OWID_WRL','OWID_EUR','OWID_NAM','OWID_ASI','OWID_EUN','OWID_SAM','OWID_AFR') ORDER BY new_cases DESC")
>>> sqlDF_2.show(10)
+----------+--------+---------+
|      date|iso_code|new_cases|
+----------+--------+---------+
|2021-04-03|     IND|  93249.0|
|2021-04-01|     BRA|  91097.0|
|2021-03-31|     BRA|  90638.0|
|2021-04-02|     IND|  89129.0|
|2021-03-30|     BRA|  84494.0|
|2021-04-01|     IND|  81466.0|
|2021-04-01|     USA|  79045.0|
|2021-03-31|     IND|  72330.0|
|2021-04-02|     BRA|  70238.0|
|2021-04-02|     USA|  69831.0|
+----------+--------+---------+
only showing top 10 rows

<a id="excercise_3"></a>
3. Посчитайте изменение случаев относительно предыдущего дня в России за последнюю неделю марта 2021. (например: в россии вчера было 9150 , сегодня 8763, итог: -387) (в выходящем датасете необходимы колонки: число, кол-во новых случаев вчера, кол-во новых случаев сегодня, дельта)

sqlDF_3_1 = spark.sql("SELECT new_cases as new_cases_previous FROM table WHERE date > '2021-03-26' AND date < '2021-04-03' AND iso_code = 'RUS'")
sqlDF_3_2 = spark.sql("SELECT date,new_cases FROM table WHERE date > '2021-03-27' AND date < '2021-04-04' AND iso_code = 'RUS'")
joinDF_3_3 = sqlDF_3_2.select('date').join(sqlDF_3_1).join(sqlDF_3_2.select('new_cases'))
joinDF_3_3 = joinDF_3_3.withColumn('delta', ( joinDF_3_3['new_cases'] - joinDF_3_3['new_cases_previous'] ))
joinDF_3_3.show()

>>> sqlDF_3_1 = spark.sql("SELECT new_cases as new_cases_previous FROM table WHERE date > '2021-03-26' AND date < '2021-04-03' AND iso_code = 'RUS'")
>>> sqlDF_3_2 = spark.sql("SELECT date,new_cases FROM table WHERE date > '2021-03-27' AND date < '2021-04-04' AND iso_code = 'RUS'")
>>> joinDF_3_3 = sqlDF_3_2.select('date').join(sqlDF_3_1).join(sqlDF_3_2.select('new_cases'))
>>> joinDF_3_3 = joinDF_3_3.withColumn('delta', ( joinDF_3_3['new_cases'] - joinDF_3_3['new_cases_previous'] ))
>>> joinDF_3_3.show()
+----------+------------------+---------+------+
|      date|new_cases_previous|new_cases| delta|
+----------+------------------+---------+------+
|2021-03-28|            8783.0|   8979.0| 196.0|
|2021-03-28|            8783.0|   8589.0|-194.0|
|2021-03-28|            8783.0|   8162.0|-621.0|
|2021-03-28|            8783.0|   8156.0|-627.0|
|2021-03-28|            8783.0|   9057.0| 274.0|
|2021-03-28|            8783.0|   8682.0|-101.0|
|2021-03-28|            8783.0|   8906.0| 123.0|
|2021-03-28|            8979.0|   8979.0|   0.0|
|2021-03-28|            8979.0|   8589.0|-390.0|
|2021-03-28|            8979.0|   8162.0|-817.0|
|2021-03-28|            8979.0|   8156.0|-823.0|
|2021-03-28|            8979.0|   9057.0|  78.0|
|2021-03-28|            8979.0|   8682.0|-297.0|
|2021-03-28|            8979.0|   8906.0| -73.0|
|2021-03-28|            8589.0|   8979.0| 390.0|
|2021-03-28|            8589.0|   8589.0|   0.0|
|2021-03-28|            8589.0|   8162.0|-427.0|
|2021-03-28|            8589.0|   8156.0|-433.0|
|2021-03-28|            8589.0|   9057.0| 468.0|
|2021-03-28|            8589.0|   8682.0|  93.0|
+----------+------------------+---------+------+
only showing top 20 rows